{% extends 'base.html.twig' %}

{% block title %}{{ 'publisher.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-5">
            {{ 'common.index.title'|trans({
                '%entity%': 'publisher.index.title'|trans,
            }) }}
        </h1>
        <div class="">
            <a href="{{ path('publisher_new') }}" class="btn btn-success">{{ 'common.button.new'|trans({
                    '%entity%': 'publisher.show.title'|trans,
                }) }}
            </a>
        </div>
        <div class="row mb-5">
            <div class="col-8 offset-2">
                <table class="table table-striped table-dark text-center">
                    <thead>
                    <tr>
                        <th>{{ 'publisher.index.table.name'|trans }}</th>
                        <th>{{ 'publisher.index.table.directorName'|trans }}</th>
                        <th>{{ 'publisher.index.table.website'|trans }}</th>
                        <th>{{ 'common.index.see'|trans }}</th>
                        <th>{{ 'common.index.edit'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publisher in publishers %}
                        <tr>
                            <td>{{ publisher.name }}</td>
                            <td>{{ publisher.directorName }}</td>
                            <td>{{ publisher.website }}</td>
                            <td><a href="" class=""><i
                                            class="far fa-eye text-decoration-none text-light fs-4"></i></a></td>
                            <td><a href="{{ path('publisher_edit', {'id': publisher.id}) }}" class=""><i
                                            class="fas fa-pencil-alt text-decoration-none text-light fs-4"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
