{% extends 'base.html.twig' %}

{% block title %}{{ 'country.index.title'|trans }}{% endblock %}

{% block body %}
    <main class="container mt-5 mb-5">
        <h1 class="text-center mb-5">
            {{ 'common.index.title'|trans({
                '%entity%': 'country.index.title'|trans,
            }) }}
        </h1>
        <div class="">
            <a href="{{ path('country_new') }}" class="btn btn-success">{{ 'common.button.new'|trans({
                    '%entity%': 'country.index.title'|trans,
                }) }}
            </a>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <table class="table table-striped table-dark text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'country.index.table.name'|trans }}</th>
                        <th>{{ 'country.index.table.nationality'|trans }}</th>
                        <th>{{ 'country.index.table.code'|trans }}</th>
                        <th>{{ 'common.index.edit'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>
                                {% if country.urlFlag is not null %}
                                    <img class="me-3" src="{{ country.urlFlag }}" alt="flag">
                                {% endif %}
                            </td>
                            <td>{{ country.name }}</td>
                            <td>{{ country.nationality }}</td>
                            <td>{{ country.code }}</td>
                            <td><a href="{{ path('country_edit', {'id': country.id}) }}" class=""><i
                                            class="fas fa-pencil-alt text-decoration-none text-light fs-4"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <img class="img-fluid w-25" src="{{ asset('build/images/world_map.svg') }}" alt="logo">
        </div>
    </main>
{% endblock %}
